# ===============================================
# School Medical Management System - Environment Variables
# ===============================================

# Database Settings
DB_NAME=db_medical
DB_USERNAME=root
DB_PASSWORD=root
DB_ROOT_PASSWORD=root

# Port Bindings on Host
APP_PORT=8080
MYSQL_PORT=3306

# Email Settings (Optional - for sending OTP & Notifications)
SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_app_password
